body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:913px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:442px;
  height:913px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:119px;
  width:375px;
  height:667px;
}
#u1_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:119px;
  width:375px;
  height:17px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
